<body>
<div class="main">
  <img class="mainimage" src="http://www.music-lounge.jp/v2/common/im/uf/news/20150223/nogizaka10.jpg">
  <h1>
    <span>推</span>し仲間とつながろう
  </h1>
  <h2>
    オタクの、オタクによる、オタクのためのコミュニティ
  </h2>
  <p>
    オタク同士で繋がることができる、
  </p>
</div>
</body>