<body>
  <div class="users_index">
    <img class="back-image1" src="http://realsound.jp/wp-content/uploads/2017/05/20170416-keyaki.jpg">
    <div class="user-info">
      <img src="http://cdn.keyakizaka46.com/images/14/336/978bed423195be346fb180a71cc22/400_320_102400.jpg">
      <p>
        ユーザー名：日田豊隆
      </p>
      <p>
        推しグループ：欅坂
      </p>
      <p>
        推しメン：今泉佑唯
      </p>
    </div>
  </div>
</body>
